.leo-button-icon {
    background-color: #ffffff !important;
}
.custom-padding{
    padding-top: 0px !important;
    padding-left: 18px !important ;
    padding-right: 18px !important ;
    padding-bottom: 16px !important;
}
.custom-btn{
    position: absolute;
    width: 100%;
    transform: translate(-47%, -50%);
    left: 50%;
    bottom: -10px;
}
